body {
  font-family: sans-serif;
  background-color: #eee;
}

core-header-panel {
  background: white;
}

core-toolbar {
  background-color: #03A9F4;
}

.bar {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #eee;
}

p {
  margin: 20px;
  padding: 80px 20px;
  border-radius: 20px;
  background-color: #eee;
}

#container {
  overflow: hidden;
}

.response, .message, .action, .request {
	text-decoration: underline;
}

.service, .task, .subject {
	color: blue;
}

.redtext {
	color: red;
}

.object {
	color: orange;
}

.rule {
	color: green;
}

.object, .rule {
	text-decoration: underline;
}

.object, .rule, .subject {
/*	transform: rotate(90deg);
	transform-origin: left top 0;*/
}
